<header>

	<div class="container" >

			<div class="nav-hamburger">
				<button class="navbar-toggle collapsed" type="button" id="btn-navbar-toggle">
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		    </button>
			</div>

		<nav class="main-nav" style="display:none;" id="main-nav">
			<ul>
				{% for nav in site.data.nav %}
				{% if nav.child %}
				<div class="dropdown nav-item">
					<li class="dropdown" data-toggle="dropdown">{{nav.title}} </li>
						<ul class="dropdown-menu">
							{% for child-nav in nav.child %}
							<li><a href="{{site.url}}{{child-nav.href}}">{{child-nav.title}}</a></li>
							{% endfor %}
						</ul>
					</div>
				{% else %}

				<li class="nav-item">
					<a href="{{site.url}}{{nav.href}}">{{nav.title}}</a>
				</li>

				{% endif %}

				{% endfor %}
				</ul>
			</nav>
		</div>
</header>

<script type="text/javascript">
	$('#btn-navbar-toggle').click(function() {
		// toggle

		var isshow = $('#main-nav').css('display') == 'none' ? false : true;

		if (isshow) {
			$('#main-nav').hide();
		} else {
			$('#main-nav').show();
		}
	})
</script>
